attrs==24.3.0
cdsapi==0.7.5
certifi==2024.12.14
charset-normalizer==3.4.1
datapi==0.1.2
idna==3.10
multiurl==0.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
tqdm==4.67.1
typing-extensions==4.12.2
urllib3==2.3.0
